*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  background-color: black;
}

.todo-container{
  display: flex;
  flex-direction: column;
  text-align: center;
 border: 1px solid white;
 border-radius:  20px;
 margin: auto;
 width: 80vw;
 height: 100vh;


}

header h1{
  font-size: 3rem;
  margin: 2rem;
  color: black;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

form input{
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
}

form button{
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
}

